

input {
    width: calc(100% - 2px);
    height: 80px;
    border-radius: 0 0 40px 40px;
    padding: 24px;
    resize: none;
    outline: none;
    border: 1px solid #1486b9;
    border-top: none;
}

button {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
    padding: 12px 24px;
    border-radius: 40px;
    border: none;
    outline: none;
    color: white;
    margin: 10px;
}

button:hover {
    opacity: .9;
    cursor: pointer;
}

button:active {
    opacity: .7;
    cursor: pointer;
}