.todo__list {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    list-style: none;
    margin: 0;
    border-radius: 40px 40px 0 0;
    padding: 24px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    color: white;
}