

.todo__item {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 5px;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo__item.completed > div > span:first-of-type {
    text-decoration-line: line-through;
}

.todo__item.completed > div > span:first-of-type > .todo__isCompleted {
    text-decoration: none
}

.todo__item:last-of-type {
    margin-bottom: 0;
}

.todo__item .todo__remove:hover {
    color: red;
}